In [4]:
import sys
# Add the path to your alpha_v.py script, adjust as needed
sys.path.append('../ingestion/alpha_vantage')

from alpha_v_methods import av_get_daily_history, av_get_close

# Fetch daily OHLCV history for a ticker
df = av_get_daily_history("AAPL", env_path="../ingestion/.env", output_size="compact")
display(df)

# Fetch only daily close prices for a ticker
df_close = av_get_close("AAPL", env_path="../ingestion/.env", output_size="compact")
display(df_close)

               Open      High     Low   Close       Volume Ticker
date
2025-03-11  223.805  225.8399  217.45  220.84   76137410.0   AAPL
2025-03-12  220.140  221.7500  214.91  216.98   62547467.0   AAPL
2025-03-13  215.950  216.8394  208.42  209.68   61368330.0   AAPL
2025-03-14  211.250  213.9500  209.58  213.49   60107582.0   AAPL
2025-03-17  213.310  215.2200  209.97  214.00   48073426.0   AAPL
...             ...       ...     ...     ...          ...    ...
2025-07-28  214.030  214.8450  213.06  214.05   37858017.0   AAPL
2025-07-29  214.175  214.8100  210.82  211.27   51411723.0   AAPL
2025-07-30  211.895  212.3900  207.72  209.05   45512514.0   AAPL
2025-07-31  208.490  209.8400  207.16  207.57   80698431.0   AAPL
2025-08-01  210.865  213.5800  201.50  202.38  104434473.0   AAPL

[100 rows x 6 columns]

            AlphaVantage_Close Ticker
date
2025-03-11              220.84   AAPL
2025-03-12              216.98   AAPL
2025-03-13              209.68   AAPL
2025-03-14              213.49   AAPL
2025-03-17              214.00   AAPL
...                        ...    ...
2025-07-28              214.05   AAPL
2025-07-29              211.27   AAPL
2025-07-30              209.05   AAPL
2025-07-31              207.57   AAPL
2025-08-01              202.38   AAPL

[100 rows x 2 columns]

In [5]:
import sys
sys.path.append('../ingestion/yfinance')  # or your actual path

from yfinance_methods import yf_get_data, yf_get_adj_close

# Full OHLCV
df_yf = yf_get_data("AAPL", start="2023-01-01", end="2023-12-31")
display(df_yf.head())

# Adjusted close only
from datetime import datetime, timedelta
end = datetime.today().date()
start = end - timedelta(days=180)
df_close = yf_get_adj_close("MSFT", start=start, end=end)
display(df_close.head())

[*********************100%***********************]  1 of 1 completed

                 Close        High         Low        Open     Volume Ticker
Date
2023-01-03  123.470627  129.226068  122.582134  128.614001  112117500   AAPL
2023-01-04  124.744118  127.014709  123.480487  125.267339   89113600   AAPL
2023-01-05  123.421242  126.136075  123.164572  125.504260   80962700   AAPL
2023-01-06  127.962418  128.623848  123.292909  124.398589   87754700   AAPL
2023-01-09  128.485641  131.703962  128.228972  128.801557   70790800   AAPL

[*********************100%***********************]  1 of 1 completed

⚠️ Adjusted Close not found — falling back to Close.

            Yahoo_Finance Ticker
Date
2025-02-05     411.707123   MSFT
2025-02-06     414.227448   MSFT
2025-02-07     408.180695   MSFT
2025-02-10     410.641205   MSFT
2025-02-11     409.864197   MSFT